@import "../../../style/animations";
@import "../../../style/include-media";

.Card {
  $self: &;
  margin: 10px 0;

  // @media screen and (max-width:420px)
  @include media('<=phone') {
    margin: 20px 0;
  }

  &__Image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    margin: 0 0 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  &__Title {
    display: block;
    text-align: center;
    font-size: 16px;

    // @media screen and (max-width:420px)
    @include media('<=phone') {
      font-size: 18px;
    }
  }

  &_isLoading {
    #{$self}__Image {
      border: 1px solid transparent;
      @include useStandardFlickerAnimation(#eee, 100%, 4);
    }

    #{$self}__Title {
      @include useStandardFlickerAnimation(#eee, 100%, 4);
      color: transparent;
      border-radius: 5px;
    }
  }
}
